<div class="row">
    <div class="col-sm-12">
        <h2>These are some fucking rocks</h2>
    </div>
</div>

<% @rocks.each do |rock|%>
    <div class="row">
        <div class="col-sm-4">
            <h3><%= link_to rock.title, rock_path(rock) %></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Created by: <%= rock.user.name %></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><a href="<%= rock_path(rock) %>"><%= image_tag rock.image.url(:thumbnail), class: "img-responsive" %></a></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><%= rock.description %></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <%= pluralize(rock.rock_comments.length, "comment") %>
        </div>
    </div>
<% end %>