<div class="row">
    <div class="col-sm-4">
        <h2>This is a fucking rock</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <h3><%= @rock.title %></h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-4"><%= @rock.description %></div>
</div>

<div class="row">
    <div class="col-sm-12"><%= image_tag @rock.image.url, class: "img-responsive" %></div>
</div>

<% @rock.rock_comments.order(:created_at).each do |comment| %>
    <hr>
    <div class="row">
        <div class="col-sm-6"><%= comment.text %></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><em><%= comment.user.name %> at <%= comment.created_at %></em></div>
    </div>
<% end %>

<hr>
<div class="row">
    <div class="col-sm-4"><%= link_to "Add Comment", new_rock_comment_path(rock_id: @rock.id) %></div>
</div>